/*
 * CSS file for SmartGraph visualization.
 */
.vertex {
    -fx-fill: #3498db;
    -fx-stroke: #2980b9;
    -fx-stroke-width: 2;
}

.edge {
    -fx-stroke: #2ecc71;
    -fx-stroke-width: 2;
    -fx-cursor: hand;
}

.vertex-label {
    visibility: hidden;
}

.edge-label {
    visibility: hidden;
}
