/*
 * CSS file for SmartGraph visualization.
 */
.vertex {
    -fx-fill: #3498db;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.edge {
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-cursor: hand;
}

.vertex-label {
    visibility: hidden;
}

.edge-label {
    visibility: hidden;
}
